<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p>Hello <%= @user_name %>,</p>
<p>
  Your requested book "<%= @book_title %>" in now available and checkedout for you at <%= @library_name %>.
  This is an automated message from Library management, please do not reply!
</p>
<p>Thank You!</p>
</body>
</html>